.articleWrapper{

    height:500px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #ccc;
}
.articleWrapper img {
    width: 100%;
    height: 400px;
}

.articleWrapper p {
    text-align: right;
}
.articleWrapper h3{
    text-align: right;
    padding: 4px;
}   
