.CreateArticlespage h1 {
    text-align: right;
    margin: 40px 0;
    font-size: 18px;
    font-weight: 300;
}
.DivBottun{
    text-align: right;
}
.button{
    padding: 5px 10px;
    background-color: aqua;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
